html {
  box-sizing: border-box;
}

*,
::after ::before {
  box-sizing: inherit;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(241, 215, 180);
  margin-top: 50px;
}

.body__wrapper {
  width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
}
